html,
body{

    margin:0;
    padding:20px;

    background:#202020;

    color:white;

    font-family:Arial;
}

#title{

    text-align:center;

    font-size:36px;

    font-weight:bold;

    margin-bottom:30px;
}

#slideButtons{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    justify-content:center;

    margin-bottom:30px;
}

#slideButtons button{

    width:90px;

    height:90px;

    font-size:32px;
}

#navigation,
#fontButtons{

    display:flex;

    gap:20px;

    margin-top:20px;
}

#navigation button,
#fontButtons button{

    flex:1;

    height:90px;

    font-size:28px;
}

.selected{

    background:#2d7cff;

    color:white;

    border:4px solid white;

}